<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto con Vue 3!</title>
    <!-- CDN vue 3 -->
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <h1>{{ mayusculasTexto }} </h1>
        <h2
            class="bg-dark text-success"
            :class="colorCantidad"
        >
            Mi saldo disponible es {{cantidad}}
        </h2>
        <a v-bind:href="enlace">YOUTUBE</a>
        <br>
        <br>
        <a :href="enlace">YOUTUBE</a>
        <hr>
        
        <h2 v-if="estado">Cuenta Activa</h2>
        <h2>Mi saldo disponible es:</h2>
        <h2 v-if="cantidad > 500"> Cantidad {{ cantidad }}</h2>
        <h2 v-else-if="cantidad <= 500 && cantidad > 0">
            Cantidad: 
            <span style="color:red">{{cantidad }}</span>
        </h2>
        <hr>
        <h2>Mis servicios disponibles:</h2>
        <ul>
            <li v-for="(item, index) in servicios" :key="index"> {{ index+1 }} - {{ item }}</li>
        </ul>
        <button v-on:click="agregarSaldo" >Agregar saldo</button>
        <button @click="agregarSaldo"  >Agregar saldo</button>
        <button @click="disminuirSaldo(50)" :disabled="desactivar" >Disminuir saldo</button>
    </div>
    <script src="main.js"></script>
    <script >
      const mountedApp = app.mount('#app')
    </script>
</body>
</html>